.advantages {
    display: flex;
    justify-content: center;
    padding: 24px 0 54px;
}

.advantages .container {
    /* justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 340px) {
    .advantages .container {
        display: flex;
        flex-direction: column;
    }
}

.advantages .container .card {
    display: flex;
    gap: 16px;
    padding: 24px;
    border-radius: 10px;
    background-color: #E7E7E7;
    width: 100%;
}

.card span {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #07075C;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-grow: unset; */
    aspect-ratio: 1;
}

.advantages .container .card h2 {
    max-width: 177px;
    align-content: center;
}

@media screen and (min-width: 680px) {
    .advantages .container .card {
        /* width: 392px; */
        gap: 24px;
        padding: 32px;
    }

    .card span {
        width: 72px;
        height: 72px;
    }
}