.call-to-action-button {
    background-color: #2195F2;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    width: 100%;
}

.call-to-action-button.secondary {
    background-color: #DBF3FF;
    color: #07075C;
}