.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 84px 0;
    background-color: #dfdfdf;
}

.contact .container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contact .container .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    width: 100%;
    max-width: 512px;
}

.contact .container .contact-wrapper p {
    text-align: center;
    max-width: 415px;
}

.contact .container form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 415px;
}

.contact .container form,
.contact .container button {
    width: 100%;
}

.contact .container form input {
    padding: 16px 24px;
    border: solid #cdcdcd;
    border-radius: 10px;
}