footer {
    display: flex;
    justify-content: center;
    padding: 97px 0;
    background-color: #07075C;
}

footer .container {
    flex-direction: column;
    gap: 32px;
}

footer .container .footer-left img {
    width: 100%;
    max-width: none;
    object-fit: cover;
    height: auto;
    filter: grayscale(100%) brightness(200%);
}

footer .container .footer-left p {
    color: #fff;
}

footer .container .footer-right {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

footer .container .footer-right .footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

footer .container .footer-right  h2 {
    color: #FFFFFF;
}

footer .container .footer-right a {
    color: #B3B3B3;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    footer .container .footer-left img {
        max-width: 230px;
    }

    footer .container .footer-right .footer-links {
        width: auto;
    }
}

@media screen and (min-width: 860px) {
    footer .container {
        flex-direction: row;
    }
}