header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
}

header .container {
    align-items: center;
}

.container .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 575px;
}

.container .left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
