:root{
    --desktop-device: 1224px;
    --mobile-device: 450px;
    --tablet-device: 763px;
    --desktop-device: 1224px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Instrument Sans', sans-serif;
}

h1 {
    color: #190A51;
    font-size: 32px;
}

h2 {
    color: #190A51;
    font-size: 20px;
}

p {
    font-size: 14px;
    color: #696969;
    line-height: 130%;
}

@media screen and (min-width: 450px) {
    h1 {
        font-size: 40px;
        line-height: 120%;
    }

    h2 {
        font-size: 24px;
        line-height: 120%;
    }

    p {
        font-size: 16px;
        line-height: 140%;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    @media screen and (min-width: 1440px) {
        width: var(--desktop-device);
    }
}

@media screen and (max-width: 650px) {
    .pricing,
    .benefits,
    .partners,
    .testimonials,
    .contact,
    .aboutus {
        padding: 40px 0;
    }
}