nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 40px;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav-wrapper ul li {
    color: #07075C;
    font-weight: bold;
}


