.partners {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.partners .container {
    max-width: 1225px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}