.pricing {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 91px 0;
}

.pricing .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pricing .container .pricing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    width: 100%;
    max-width: 522px;
}

.pricing .container .cards-pricing {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing .container .cards-pricing .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    max-width: none;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 24px;
}

.pricing .container .cards-pricing .card.secondary {
    color: #fff;
    background-color: #07075c;
}

.pricing .container .cards-pricing .card.secondary button {
    color: #07075c;
    background-color: #fff;
}

.pricing .container .cards-pricing .card .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pricing .container .cards-pricing .card.secondary .card-wrapper h1 {
    color: #fff;
}

.pricing .container .cards-pricing .card.secondary .card-wrapper h2,
.pricing .container .cards-pricing .card.secondary .card-wrapper p {
    color: #fff;
}

.pricing .container .cards-pricing .card .card-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.pricing .container .cards-pricing .card .card-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: auto; /* Permite que o card cresça para baixo */
}

.pricing .container .cards-pricing .card .card-list-header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 32px;
}

@media screen and (min-width: 890px) {
    .pricing .container .cards-pricing {
        flex-direction: row;
        gap: 24px;
    }

    /* .pricing .container .cards-pricing .card .card-list-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
    } */

    .pricing .container .cards-pricing .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
        max-width: 392px;
        background-color: #FFFFFF;
        padding: 24px;
        border-radius: 24px;
    }
}