.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    background-color: #07075C;
}

.product span {
    background-color: #DBF3FF;
    color: #2195F2;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}

.product h1 {
    font-size: 2rem;
    color: #FFF;
    font-weight: 700;
}

.product p {
    font-size: 1rem;
    color: #B3B3B3;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

.product video {
    width: 100%;
    max-width: 750px;
    margin-bottom: 20px;
}

.product button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #2195F2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #050651;
}
